.large-input{
  width:98%;
  font-size:25px;
  height:35px;
  line-height:1.3em;
}
#translate-btn{
  margin-right:5px;
}
.hidden{
  display:none;
}
.translate-btn-area{
  margin:8px;
  margin-left:0;
}
.translate-progress{
}
.twitter-btn{
  padding:10px;
}
